{% extends 'base.html' %}
{% load form_filters %}
{% block navbar %} {% endblock navbar %}
{% block content %}
<div class="container-sm">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="row">
                <h1 class="text-center"> Sign Up </h1>
            </div>
            <form method="POST"> 
                {% csrf_token %}
                {% include 'partials/form_display.html' %}
                <div class="row">
                    <div class="d-grid col-md-12">
                        <button type="submit" class="btn-lg btn-primary">Sign in</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
 </div>
{% endblock content %}