{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-3">
            {% include "partials/category_list.html" %}
            <form method="get" class="mt-3">
                {{product_filter.form.as_p}}
                <button type="submit">Apply</button>
            </form>
        </div>
        <div class="col-9">
            {% include "partials/product_list.html" with products=product_filter.qs %}
        </div>
    </div>
</div>
{% endblock content %}
