<div class="small-ratings">
    <i class="bi {% if star_rating >= 1 %} bi-star-fill text-warning {% else %} bi-star {% endif %}"></i>
    <i class="bi {% if star_rating >= 2 %} bi-star-fill text-warning {% else %} bi-star {% endif %}"></i>
    <i class="bi {% if star_rating >= 3 %} bi-star-fill text-warning {% else %} bi-star {% endif %}"></i>
    <i class="bi {% if star_rating >= 4 %} bi-star-fill text-warning {% else %} bi-star {% endif %}"></i>
    <i class="bi {% if star_rating >= 5 %} bi-star-fill text-warning {% else %} bi-star {% endif %}"></i>
</div>